// src/styles/_variables.scss
$offcanvas-bg:#ff8a00;
$primary: #003087;
$accent: #f97316;
$hero-left: #ff8a00;
$hero-right: #a9adb4e0;
$text-dark: #1f2937;

$mobile: 767px;
$tablet: 1024px;
$desktop: 1280px;

$transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);

